$verde-oscuro: rgb(2, 36, 22);
$verde-oscuro-1: rgb(12, 48, 27);
$verde-oscuro-2: rgb(20, 58, 36);
$verde-oscuro-3: rgb(24, 65, 41);
$blanco: rgb(255, 255, 255); 
$negro: rgb(0, 0, 0); 
$gris-light: rgb(233, 233, 233); 
$gris-light-1: rgb(199, 199, 199); 
$gris-light-2: rgb(155, 155, 155); 
$gris-dark: rgb(56, 56, 56); 